/* Variables para mantener consistencia en colores */
:root {
    --bg-color: #0d1117;
    --card-bg: #161b22;
    --accent: #2ecc71;
    --text-main: #e6edf3;
    --text-dim: #8b949e;
}

body {
    background-color: var(--bg-color);
    color: var(--text-main);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: "Space Grotesk", sans-serif;;

}

.container {
    background-color: var(--card-bg);
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 8px 24px rgba(0,0,0,0.5);
    width: 100%;
    max-width: 500px;
    border: 1px solid #30363d;
}

h1 {
    margin: 0;
    color: var(--accent);
    letter-spacing: 2px;
    font-family: "Turret Road", sans-serif;
}

h1 span {
    animation: blink 1s infinite;
}

@keyframes blink { 50% { opacity: 0; } }

.subtitle {
    color: var(--text-dim);
    font-size: 0.9rem;
    margin-bottom: 1.5rem;
}

textarea {
    width: 100%;
    height: 100px;
    background: #0d1117;
    border: 1px solid #30363d;
    border-radius: 6px;
    color: var(--text-main);
    padding: 10px;
    box-sizing: border-box; /* Evita que el padding rompa el ancho */
    resize: none;
    margin-top: 5px;
}

.controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1.5rem 0;
}

input[type="number"] {
    background: #0d1117;
    border: 1px solid #30363d;
    color: var(--accent);
    padding: 5px;
    border-radius: 4px;
    width: 50px;
}

button {
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 6px;
    border: none;
    font-weight: bold;
    transition: 0.3s;
    font-family: "Space Grotesk", sans-serif;
}

.btn-primary { background: var(--accent); color: #000; }
.btn-primary:hover { background: #27ae60; }

.btn-secondary { background: transparent; color: var(--text-dim); border: 1px solid #30363d; margin-left: 10px; }
.btn-secondary:hover { color: white; border-color: white; }

.btn-danger {
    display: flex;
    justify-self: flex-end;
    background: transparent;
    color: #ff4d4d;
    border: 1px solid #ff4d4d;
    margin-top: 1rem;
}

.btn-danger:hover {
    background: #ff4d4d;
    color: white;
}